*__pycache__
*.pyc
*.idea
.ipynb_checkpoints
/control/config.py
/control/.env
/control/tips.py
*lesson_notes.txt
*OrderDetails.xlsx
*PythonEngineerTechChallenge.pdf
*employee_sample_data.xlsx
*employee.csv
*edabit_refresher.py
/asda_venv
*docker_build.bat
*docker_run.bat
*db_operations.py
*application.ipynb
data_generator.py
application.yaml