Flask~=1.1.2
Flask-SQLAlchemy
PyMySQL~=1.0.2
pandas~=1.0.4
waitress~=1.4.4
python-dotenv
gunicorn
flask-navbar
flask-nav
Flask-Security
SQLAlchemy~=1.3.17
numpy~=1.18.1
Faker~=6.4.1
WTForms~=2.3.3
Flask-Bootstrap==3.3.7.1
flask-admin
email-validator
bcrypt
wheel